<div id="<%= dom_id tickt %>">
  <p>
    <strong>Name:</strong>
    <%= tickt.name %>
  </p>

  <p>
    <strong>Reference:</strong>
    <%= tickt.reference %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= tickt.price %>
  </p>

</div>
